@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-brand-orange: #ff6b2c;
  --color-brand-dark: #111111;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

body {
  font-family: var(--font-poppins);
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.animate-zoom {
  animation: zoomIn 15s infinite alternate ease-in-out;
  will-change: transform;
}